version: '3.8'

services:
  # 1. MongoDB
  mongo:
    image: mongo:latest
    restart: always
    environment:
      # We pull these values from the .env file now
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db

  # 2. Go Backend
  app:
    build: .
    ports:
      - "8080:8080"
    restart: always
    environment:
      # We pull these values from the .env file now
      MONGO_URI: ${MONGO_URI}
      ADMIN_SECRET: ${ADMIN_SECRET}
      GIN_MODE: release
    depends_on:
      - mongo

volumes:
  mongo-data: